
</ul>
<!DOCTYPE html>
<html lang="en">
<head>
   <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>HALF-TIME - American Football Analytics</title>
</head>


  <div class="container mx-auto px-4 py-4 grid grid-cols-4 gap-3"">
  {% for Game in Games %}
  
  <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 h-40">
<div class="flex justify-between items-center">
    <p class="text-white text-left"> {{Game.AwayTeam}}</p>
    <p class="text-white text-right"> {{Game.HomeTeam}}</p>

  </div>
  <div class="flex justify-between items-center">
   
    <h1 class="text-white text-xl text-bold mt-10 text-left"> {{Game.AwayScore}}</h1>
    <p class="text-white text-center text-middle text-bold mt-10"> {{Game.date}}</p>
    <h1 class="text-white text-xl text-bold mt-10 text-right"> {{Game.HomeScore}}</h1>

  </div>
</div>
  
      {% endfor %}
    </div>
</html>